{% extends 'layout.html.twig' %}
{% do script(['app/js/index/index.js']) %}

{% block body %}
    <script src="{{ asset('static-dist/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('static-dist/workshowplugin/js/work-list/index.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('static-dist/workshowplugin/css/main.css') }}">
    <div class="container">
        <div class="allbutton">
            <a class="{% if type =='全部' %}button-056X1{% else %}button-057X1{% endif %}" id="work-class-all" href="/worklist?page=1&type=全部">全部</a>
            <a class="{% if type =='算法' %}button-056X1{% else %}button-057X1{% endif %}" id="work-class-algorithm" href="/worklist?page=1&type=算法">算法</a>
            <a class="{% if type =='游戏' %}button-056X1{% else %}button-057X1{% endif %}" id="work-class-game" href="/worklist?page=1&type=游戏">游戏</a>
            <a class="{% if type =='其他' %}button-056X1{% else %}button-057X1{% endif %}" id="work-class-other" href="/worklist?page=1&type=其他">其他</a>
        </div>
    </div>
    <div id="content" class="works-content">
        {% for data in datas %}
            <div class="card" onclick="window.location.href= '/work';return false">
                <img class="card-img-top" src="static-dist/workshowplugin/img/index/{{ data.cover }}.png"
                     alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ data.title }}
                    </p>
                    {% set likeId=data.id %}
                    <img src="static-dist/workshowplugin/img/index/good.svg" alt="">{{ num[likeId] }}
                    <img src="static-dist/workshowplugin/img/index/view.svg" alt="">{{ data.visit }}
                    <img src="static-dist/workshowplugin/img/index/user.svg" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="worklist-page">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/worklist?page={{ page-1 }}&type={{ type }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="/worklist?page=1&type={{ type }}">1</a></li>
                <li><a href="/worklist?page=2&type={{ type }}">2</a></li>
                <li><a href="/worklist?page=3&type={{ type }}">3</a></li>
                <li><a href="/worklist?page=4&type={{ type }}">4</a></li>
                <li><a href="/worklist?page=5&type={{ type }}">5</a></li>
                <li>
                    <a href="/worklist?page={{ page+1 }}&type={{ type }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


{% endblock %}