{% extends 'WorkshowPlugin:Base:base.html.twig' %}
{% block content %}

  <div class="gallery-box1">
    <div class="gallery-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="gallery-title">
              <div>
                <div class="gallery-title-name">{{ data.title }}</div>
                <div class="gallery-title-viewers">
                  <img src="/static-dist/workshowplugin/img/gallery/viewers.svg">
                  <span>{{ data.visit }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="gallery-author">
              <img src="/static-dist/workshowplugin/img/header/{{ user.smallAvatar }}">
              <div class="gallery-author-information">
                <span><b>{{ user.nickname }}</b></span>
                <br>
                  <span>除了打游戏，其他什么都不会......</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="gallery-cover">
              <img src="/static-dist/workshowplugin/img/gallery/{{ data.cover }}">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="gallery-work">
              <div class="gallery-work-name">
                作品简介：
              </div>
              <div class="gallery-work-introduction">
                {{ data.article }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="gallery-box2">
    <div style="font-size: 24px;font-weight: bold;">
      推荐作品
    </div>
    <div class="container-fluid">
      <div class="row">
        {% for i in 0..rcmCount - 1 %}
        <div class="col-sm-2">
          <a href="/gallery/{{ rcm[i]['id'] }}">
            <div class="gallery-recommend">
              <img src="/static-dist/workshowplugin/img/gallery/{{ rcm[i]['cover'] }}">
              <b>{{ rcm[i]['title'] }}</b><br>
              <div class="gallery-rcm"  style="margin-top:-80px; height: 25px">
                <img src="/static-dist/workshowplugin/img/gallery/1.svg">暂无
                <img src="/static-dist/workshowplugin/img/gallery/viewers.svg">{{ rcm[i]['visit'] }}
                <img src="/static-dist/workshowplugin/img/gallery/2.svg" style="float: right">
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class=""></div>
  </div>
{% endblock %}